* {
  box-sizing: border-box;
}
body {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  background-color: goldenrod;
  color: antiquewhite;
  margin: 5px;
  padding: 5px;
}
h2 {
  border: 1px solid black;
  background-color: darkslategrey;
  color: white;
}
.container {
  width: 900px;
  margin: 0 auto;
}
h1 {
  text-align: center;
  font-family: Georgia, "Times New Roman", Times, serif;
}
/***large devices***/
@media (min-width: 1200px) {
  .col-lg-4,
  .col-lg-8,
  .col-lg-12 {
    width: 280px;
    float: left;
    margin: 10px;
  }
}
.col-lg-4 {
  background-color: darkolivegreen;
}
.col-lg-8 {
  background-color: coral;
}
.col-lg-12 {
  background-color: cadetblue;
}
/*****Medium devices*****/
@media (min-width: 768px) and (max-width: 991px) {
  .col-md-4 {
    float: left;
    margin: 10px;
    width: 280px;
  }
  .col-md-8 {
    float: left;
    margin: 10px;
    width: 280px;
  }
  .col-md-12 {
    width: 60%;
    float: left;
    clear: left;
  }
}
/*****small devicess*****/
@media (max width: 767px) {
  .col-sm-4,
  .col-sm-8,
  .col-sm-12 {
    float: left;
  }
}
